---
---

@import "{{ site.theme }}";
small{
display: none;
}
#banner{
  background: #008088 !important;
  border-color: #393939 !important;
  right: 0 !important;
}
#banner #logo{
right: 46%;
}
header{
background-image: url(../assets/background-head.jpg)
}
