---
---

@import "{{ site.theme }}";
small{
display: none;
}
#banner{
  background: #008088 !important;
  border-color: #393939 !important;
  right: 0 !important;
}
#banner #logo{
right: 46%;
  backgound-image: url(https://youtubedownloader.codeseasy.com/assets/CodesEasyLogo.png);
}
